<div class="jumbotron">
  <h1>PetyWorld</h1>
  <p>En PetyWorld tienes la posibilidad de añadir mascotas</p>
  <p>Fácil de usar, interfaz amigable </p>

  <%= link_to "ver mascotas", puppies_path, class: "btn btn-primary btn-lg" %>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>¡Estamos interesados en proteger tus datos!</h2>
    <p>Ofrecemos un sistema de autenticacion de doble verificación, y encriptacion con algoritmo bycript.</p>
  </div>
  <div class="col-md-4">
    <h2></h2>
    <p>Pictures of puppies are great, but signing up to see them in order to
    keep those pictures secure is even greater.</p>
  </div>
  <div class="col-md-4">
    <h2>Some third benefit</h2>
    <p>Marketing sites usually have a third thing here, but when you already
    have puppies and security, you only need two features.</p>
  </div>
  <div class="col-md-4">
    <div id="resultados">

    </div>

 </div>
</div>
